<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <title>Document</title>
</head>
<body>
<div class="main">
  <div class="form">
    <div class="image"><img src="./images/p.jpg" alt=""></div>
    <h1>Welcome To Pinterest</h1>
    <h4>Find new ideas to try</h4>
    <form class="form2" action="/register" method="post">
      <input class="labels" type="email" name="email" placeholder="Email">
      <input class="labels" type="text" name="username" placeholder="Username">
      <input class="labels" type="text" name="fullname" placeholder="Full Name">
      <input class="labels" type="password" name="password" placeholder="Password">
      <input  type="submit" class="button" value="Continue">
      <div class="login"><p>Already a member? <a href="/">Log in</a></p></div>
    </form>
  </div>
</div>
</body>
</html>