@font-face{
  font-family:Regular;
  src:url("./Pin-Sans-MacOS-Regular-708c49dd.woff2");
}
@font-face{
  font-family: Medium;
  src:url("./Pin-Sans-MacOS-Medium-704a4f34.woff2");
}
@font-face{
  font-family:Bold;
  src:url("./Pin-Sans-MacOS-Bold-ce475d98.woff2");
}
@font-face{
  font-family:Heavy;
  src:url("./Pin-Sans-Heavy-4c93b30f.woff2");
}
@font-face{
  font-family:A;
  src:url("./a.woff2");
}
@font-face{
  font-family:B;
  src:url("./b.woff2");
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
form{
    padding:1rem;
}
.btn{
  font-weight:200;
  font-family:Bold ; 
  padding:0.65rem 8rem;
  background-color: #e60023;
  color:white;
  text-decoration: none;
  border-radius: 1.2rem;
  border: none;
}
.btn:hover{
  cursor: pointer;
}