@font-face{
  font-family:Regular;
  src:url("./Pin-Sans-MacOS-Regular-708c49dd.woff2");
}
@font-face{
  font-family: Medium;
  src:url("./Pin-Sans-MacOS-Medium-704a4f34.woff2");
}
@font-face{
  font-family:Bold;
  src:url("./Pin-Sans-MacOS-Bold-ce475d98.woff2");
}
@font-face{
  font-family:Heavy;
  src:url("./Pin-Sans-Heavy-4c93b30f.woff2");
}
@font-face{
  font-family:A;
  src:url("./a.woff2");
}
@font-face{
  font-family:B;
  src:url("./b.woff2");
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:3rem;
    padding-top:3rem;
}
.profdetails h1{
    font-size:2vmax;
    margin-top: 1.1vmax;
    font-weight: 600;
}
.profdetails h3{
    font-size:1.1vmax;
}
.profdetails a{
    font-size:1.1vmax;
    font-weight: 600;
    margin-top: 1.3vmax;
    padding:1rem 1.2rem;
    color:black;
    text-decoration: none;
    background-color: #DBDAD3;
    border-radius: 1.2rem;
}
.profdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: A;
}
.image{
    height:8vmax;
    width:8vmax;
    border-radius: 50%;
}
.image img{
    width:100%;
    height:100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  margin-top:2rem;
}
.cards3{
  width:17rem;
  height:11rem;
  background-color: black;
  border-radius: 1.5rem;
  overflow: hidden;
}
.cards3 img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.cards2 h2,h5{
  margin-left:0.2rem;
}
.cardstext1{
  font-weight: 300;
  font-size:0.85rem;
  font-family: Regular;
}
.cardstext{
  font-family: Bold;
}
.newpost{
  padding:1rem 2rem;
  outline:none;
  margin-top: 1vmax;
  border:none;
  border-radius: 1rem;
}
.profile-wrapper {
  position: relative;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 32px;      /* w-8 = 2rem = 32px */
  height: 32px;     /* h-8 = 2rem = 32px */

  border-radius: 9999px; /* rounded-full */

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e4e4e7; /* bg-zinc-200 */
}

.edit-icon i {
  color: #000; /* text-black */
}
.fileupload{
  display: none;
}

.nav1{
  display: flex; 
  justify-content: space-between; 
  padding:1.5rem;align-items: 
  center;
}
.nav1pinterest{
  width:2.5rem;
  height:2rem;
  display: flex;
  gap:0.5rem;
  align-items: center;
}
.nav1pin{ 
  font-family: Bold;
  font-size:1.2rem
}
.nav1prof , .nav1feed{
  font-family:Bold ;
  text-decoration :none;
  color:black;
  margin-left:0.5rem;
}
.nav1logout{
  font-weight:200;
  font-family:Bold ;
   padding:0.8rem 1.5rem;
   background-color: #e60023;
   color:white;
   margin-left:0.5rem;
   text-decoration: none;
   border-radius: 1.2rem;
}

@media (max-width: 1024px) {
.nav1pinterest{
  width:2.2rem;
  height:1.9rem;
  gap:0.4rem;
}
.nav1pin{ 
  font-family: Bold;
  font-size:1.1rem;
}
.nav1prof , .nav1feed{
  margin-left:0.4rem;
}
.nav1logout{
   padding:0.6rem 1.3rem;
   margin-left:0.4rem;
}
}

/* Phones */
@media (max-width: 768px) {
  .nav1pinterest{
  width:2rem;
  height:1.65rem;
  gap:0.3rem;
}
.nav1pin{ 
  font-family: Bold;
  font-size:1rem;
}
.nav1prof , .nav1feed{
  margin-left:0.25rem;
  font-size: 0.75rem;
}
.nav1logout{
   padding:0.4rem 1rem;
   margin-left:0.25rem;
   font-size: 0.75rem;
}
.profdetails a{
    font-size:1.35vmax;
    margin-top: 1.3vmax;
    padding:0.75rem 1rem;
}
.cards3{
  width:14rem;
  height:9rem;
}

.image{
    height:11.5vmax;
    width:11.5vmax;
}
.profdetails h1{
    font-size:2.2vmax;
}
.profdetails h3{
    font-size:1.3vmax;
}
}